html {
  min-width: 950px;
  background: rgba(74, 0, 117, 0.1);
  height: 100%;
}
.SideBar {
  background: rgba(125, 109, 138, 0.9);
  width: 200px;
  height: 100%;
  position: fixed;
  float: left;
  border-radius: 5px;
}
body {
  margin: 0;
}
.UserPic {
  background: rgba(255, 255, 255, .5);
  height: 192px;
  width: 192px;
  border-radius: 5px;
  margin: 4px 0px 4px 4px;
  align-items: flex-end;
  justify-content: center;
}
.UserCtrls, .MainNav {
  width: 190px;
  margin: 5px auto;
  border-radius: 5px;
}
.UserCtrls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.MainNav {
  height: 99%;
  border-bottom: 3px solid rgba(125, 109, 138, 0.9);
  background: rgba(255, 255, 255, 0.7);
}

.MainNav a {
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: rgba(100, 100, 100, 0.9);
  text-decoration: none;
}

.UserCtrls a {
  display: inline-block;
  font-size: 15px;
  width: 94px;
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  text-decoration: none;
}
.Navigation {
  margin: 0 3px 1px 3px;
  height: 72.75%
}
.WelcomeUser {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  height: 15px;
  padding: 3px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3px;
}
.flex-container {
  display: flex;
}
#btnDiv {
  display: flex;
  justify-content: space-between;
}
button{
  font-size: 9px;
}
.content {
  margin-left: 215px;
  height: 100%;
}
.content2 {
  margin-top: 10px;
  margin-left: 50px;
}
.Categories{
  display: flex;
  align-content: center;
  width: 100%;
}
.newCategoryBtn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 20px;
}
.categoryNameLabel{
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
}
.categoryNameInput{
  display: inline-block;
  font-size: 15px;
  color: rgb(76, 135, 173);
  text-align: center;
  margin: 0px auto -30px;
}
.categoryNameForm{
  padding: 0 30px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
li{
  list-style: none !important;
}
li a {
  text-decoration: none !important;
  color: gray !important;
}
.checkBoxes {
  margin: 0 0 0 50%;
  display: inline-flex;
  flex-direction: column;
}
.settingsInput {
  font-size: 15px;
  width: 500px !important;
  display: flex;
  justify-content: space-between;
}
*{
  font-family: -apple-system 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
  font-weight: 200;
}
.logout{
  float: left;
  margin-left: 1px;
  width: 0px;
}
.logout button {
  padding: 5px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: red;
  margin: 4px 5px 0 3px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border-color: transparent;
}
.App{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: rgba(74, 0, 117, 0.1);
}
.panel{
  width: 48%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.ToDoList {
  background: white;
  margin-right: 0px;
  height: 60%;
}
.LinksAndNotes {
  background: white;
  height: 50%;
  border: 1px solid black;
}
.content3 {
  min-width: 810px;
  height: 90%;
  display: flex;
  align-content: flex-start;
}
.newLink, .newNote, .newToDoItem {
  height: 25px;
  margin-top: 10px;
}
ul{
  margin-left: 10px;
  height: 100%;
}
.logOutModal{
  padding: 20px;
}
.logOutBtn {
  float: right;
  margin-right: 20px;

}
.categoryName h3 {
  height: 100%;
  width: 190px;
  margin-bottom: 0;
  vertical-align: middle;
}
.categoryName li {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.categoryName a {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.categoryName {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 260px;
  padding: 0px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.LinksAndNotesBtns {
  position: fixed;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 25%;
  margin-left: 60%;
}
.selector{
  font-size: 7px;
  width: 60px;
  padding: 5px;
  margin: 5px;
  height: 25px;
}
.allCategories {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  max-width: 95%;
}
.hideBtn{
  display: none;
}
.panel {
  border-radius: 10px;
  background: rgba(255, 255, 255, .7);
  margin: 0 auto 0 0;
  min-width: 355px;
}
.contentContainer {
  height: 100%;
}
.notesLabel {
  float: left;
}
.ListDivTitle{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ListDiv {
  margin: 10px 5px 5px 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ListForm {
  margin-bottom: 0 !important;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.newCategoryBtnsDiv {
  display: flex;
  justify-content: space-between;
}
.editCategories {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 500px;
  margin-left: 48%;
}
.input {
  background: white !important;
}
.panelDiv {
  width: 95%;
  min-width: 340px;
  height: 100%;
}
.CategoryNameTitle {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-top: 5px;
}
.List{
  height: 80%;
}
.categoryTitle{
  margin-bottom: 0 !important;
}
.categoryBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editCategoryInput {
  font-size: 20px;
}