html {
  min-width: 950px;
}
.SideBar {
  background: maroon;
  width: 200px;
  height: 100%;
  position: fixed;
  float: left;
  border-radius: 3px;
}
body {
  margin: 0;
}
.UserPic {
  background: white;
  height: 190px;
  width: 190px;
  margin: 5px 0px 3px 5px;
  border-radius: 5px;
  align-items: flex-end;
  justify-content: center;
}
.UserCtrls, .MainNav {
  width: 190px;
  margin: 3px auto;
  border-radius: 3px;
}

.UserCtrls {
  display: flex;
  justify-content: space-between;
  width: 190px;
  height: 20px;
  border-radius: 3px;
}
.MainNav {
  height: 99%;
  background: rgba(255, 255, 255, 0.7);
}

.MainNav a {
  display: flex;
  justify-content: center;
}

.UserCtrls a {
  display: inline-block;
  font-size: 12px;
  width: 55px;
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.Navigation {
  margin: 0 3px 1px 3px;
  height: 72.75%
}
.WelcomeUser {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  height: 15px;
  align-items: center;
}
.flex-container {
  display: flex;
}
.UserPic small {
  margin-bottom: 5px;
}
#btnDiv {
  display: flex;
  justify-content: space-between;
}
button{
  font-size: 9px;
}
.content {
  margin-left: 215px;
}
.content2 {
  margin-top: 10px;
  margin-left: 50px;
}
.Categories{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.newCategoryBtn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 20px;
}
.categoryNameLabel{
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
}
.categoryNameInput{
  display: inline-block;
  font-size: 15px;
  color: rgb(76, 135, 173);
  text-align: center;
  margin: 0px auto -30px;
}
.categoryNameForm{
  padding: 0 30px;
}
li{
  list-style: none !important;
}
li a {
  text-decoration: none !important;
  color: gray !important;
}
.categoryTitle {
  display: inline-flex;
}
.checkBoxes {
  margin: 0 0 0 50%;
  display: inline-flex;
  flex-direction: column;
}
.settingsInput {
  font-size: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
*{
  font-family: -apple-system 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
  font-weight: 200;
}